/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.to-do-list-item {
  display: flex;
  align-items: center;
}
/* need to change the delete button to the end of this line */
.to-do-list-item-delete-button {
  justify-content: flex-end;
}

.checkbox-item {
  margin-right: 10px;
}

.to-do-list-item-content {
  margin-right: 10px;
  border: 0px;
  outline: 0px solid transparent;
}
